:root {
  --color-purple: #2b1c34;
  --color-lightpurple: #3a3349;
  --color-blue: #249fab;
  --color-darkblue: #166e77;
  --color-gray: #eceff1;
  --color-green: #bddb59;
}

@font-face {
  font-family: 'choplinmedium-demo';
  src: url('./assets/Choplin-Medium-DEMO-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meta {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.meta input,
.meta textarea {
  width: 100%;
}

.meta-label {
  margin-bottom: 25px;
}

.meta-label-text {
  display: block;
}

label {
  font-size: 3rem;
}

.template-container {
  padding: 25px 50px;
  background: gray;
}

svg {
  display: block;
  margin: 0 auto;
}

/*
%font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%font-mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: normal;
}
*/
